 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1687px;
}

.u-section-1 .u-image-1 {
  width: 670px;
  height: 166px;
  margin: 60px auto 0;
}

.u-section-1 .u-image-2 {
  width: 760px;
  height: 570px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 700;
  width: 795px;
  margin: 80px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  margin: 80px auto 60px;
  padding: 40px 79px 41px 78px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 53px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 73px;
    margin-right: 73px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1657px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 61px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 540px;
    margin-top: 22px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1978px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 133px;
    margin-top: 212px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 405px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2211px;
  }

  .u-section-1 .u-image-1 {
    height: 84px;
    margin-top: 82px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 255px;
    margin-top: 82px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 147px;
  }
}